extends layout

block content
  a(href='/') Home
  h1 Sign up

  form(method="post")
    div
      label(for='firstname') First name:&nbsp;
      input(type='text' id='firstname' name='firstname' required value=(undefined === user ? '' : user.firstname))
    div
      label(for='lastname') Last name:&nbsp;
      input(type='text' id='lastname' name='lastname' required value=(undefined === user ? '' : user.lastname))
    div
      label(for='email') Email:&nbsp;
      input(type='email' id='email' name='email' required value=(undefined === user ? '' : user.email))
    div
      label(for='password') Password:&nbsp;
      input(type='password' id='password' name='password' required value=(undefined === user ? '' : user.password))
    div
      label(for='passwordConfirmation') Password confirmation:&nbsp;
      input(type='password' id='passwordConfirmation' name='passwordConfirmation' required)
    button(type="submit") Sign up
  p Already have an account?&nbsp;
    a(href='/login') Login

  if errors
    ul
      for error in errors
        li= error.msg
